In [4]:
# Creation of variable
a=10
b <- 20
30 -> c
# obove all declaration caring same meaning

In [5]:
# print the above values
a
b
c

[1] 10

[1] 20

[1] 30

In [7]:
n<- 10+2
n
n<- 3+rnorm(1)
n

[1] 12

[1] 4.271259

In [8]:
#the function rnorm(1) generates a normal random variate wth mean zero and variance

In [11]:
name<-"car"; n1<-10; n<-100; m<-0.5
# semicolon to separate distinc command

ERROR: Error in parse(text = x, srcfile = src): <text>:2:2: unexpected symbol
1: name<-"car"; n1<-10; n<-100; m<-0.5
2: 1s
    ^

In [14]:
ls() #display objects

[1] "a"    "b"    "c"    "m"    "n"    "n1"   "name"

In [16]:
ls(pat="n")

[1] "n"    "n1"   "name"

In [18]:
# func  ls.str display som details on the objects in memory
ls.str()

a :  num 10
b :  num 20
c :  num 30
m :  num 0.5
n :  num 100
n1 :  num 10
name :  chr "car"

In [19]:
# the on line help of r programing

In [24]:
# one can just use the function mode and length,resp for data type and no. of letters
x<-1
mode(x)
length(x)
mode(a); mode(name);mode(z)

[1] "numeric"

[1] 1

[1] "numeric"

[1] "character"

ERROR: Error in mode(z): object 'z' not found

[1] "character"

In [27]:
#whatever the data type missing data are rerresented by NA 
# correctly represent non finite numeric values such as+ and -, infinity with -Inf and +Inf

In [26]:
x<-5/0
x
exp(x)
exp(-x)
x-x

[1] Inf

[1] Inf

[1] 0

[1] NaN

In [28]:
# to include " in b/w we have to keep slash \
x<-"Double quotes\"deliminate R's string."
x
cat(x)

[1] "Double quotes\"deliminate R's string."

Double quotes"deliminate R's string.

In [32]:
x<-'Double quotes\"deliminate R's string.'

ERROR: Error in parse(text = x, srcfile = src): <text>:1:33: unexpected symbol
1: x<-'Double quotes\"deliminate R's
                                    ^

#